<% layout('layout/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3 mt-3">
        <div class="alert alert-danger" role="alert" style="background-color: #525e75; color: #f1ddbf;">
            <h4 class="alert-heading font-weight-bold"><%= error.message %></h4>
            <% if(process.env.NODE_ENV !== "production"){ %>
            <p><%= error.stack %></p>
            <% } %>
    </div>
</div>